# Build artifacts
.out/**
build/**
.gradle/**

game/build/**
server/build/**

game/out/**
server/out/**

# Not strictly necessary, however, *.jar files are often ignored and this one is required by the Gradle wrapper.
!gradle/wrapper/gradle-wrapper.jar

# Editor settings
.idea/**

## Java

*.class
*.war
*.ear
hs_err_pid*

## Gradle

/local.properties
.gradle/
gradle-app.setting
template.iml

## OS Specific
.DS_Store
Thumbs.db
